spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/easyqa_db
    username: easyqa
    password: easyqa123

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true

  sql:
    init:
      mode: always
